/* 
all z-index 0 but:

.story-img: 1
.chevron-forward-circle: 2
.header: 10
*/

body{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1900px;

    font-family: 'Roboto', sans-serif;
}

/****************** HEADER **********************/
.header{
    z-index: 10;
    background-color: white;
    height: 54px;
    border-bottom: 1px solid #DBDBDB;

    display: flex;
    justify-content: center;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

}

.inside-header{
    width: 914px;
    height: 54px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0px;

    margin: 0px auto;

}

.inside-header > div{
    height: 28px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.identification{
    width: 155px;
}

.vertical-divider{
    background-color: #DBDBDB;
    width: 1px;
    height: 22px;
}

.header img{
    height: 29px;
    width: 103px;
}

.search-bar{
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 215px;

    position: relative;
}

.search-bar p{
    font-size: 12px;
    line-height: 14px;
    color: #979797;

    position: absolute;
    top: 7px;
    left: 82px;
}

.interaction{
    width: 155px;
}

.content{
    background-color: #FAFAFA;
    display: flex;
    margin-top: calc(55px + 34px);/* header + natural distance*/
}

.content img{
    width: 56px;
}

/****************** STORIES **********************/
.stories{
    background-color: white;
    border: 1px solid #DBDBDB;
    width: 614px;
    height: 118px;

    display: flex;
    align-items: center;

    position: relative;
    overflow: hidden;

    position: relative;
}

.story{
    width: 56px;
    margin-left: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.story .story-background{
    width: 65px;
    position: absolute;
    top: 17px;
}

.story .story-img{
    width: 56px;
    height: 56px;
    z-index: 1;
}

.story p{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}

.stories .chevron-forward-circle{
    position: absolute;
    top: 46px;
    right: 9px;
    z-index: 2;
}

/****************** FEED **********************/
.feed{
    margin-top: 24px;
}

.post{
    background-color: white;
    border: 1px solid #DBDBDB;
    height: 749px;
    width: 614px;

    margin-bottom: 60px;
    position: relative;
}

.post-video{
    height: 600px;
}

.post .img-post-profile{
    width: 32px;

    position: absolute;
    top: 15px;
    left: 17px;
}

.post h4{
    color: #262626;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    position: absolute;
    top: 21px;
    left: 64px;
}

.post .ellipsis-vertical-outline{
    position: absolute;
    top: 29.5px;
    right: 28.5px;
}

.rotated {
    transform: rotate(90deg);
  }

.post .post-content{
    width: 612px;

    position: absolute;
    top: 61px;
    right: 1px;
}

.post .heart-outline{
    position: absolute;
    bottom: 44.44px;
    left: 17.75px;
}

.post .chatbubble-outline{
    position: absolute;
    bottom: 44.44px;
    left: 52.6px;
}

.post .paper-plane-outline{
    position: absolute;
    bottom: 44.44px;
    left: 88.6px;
}

.post .bookmark-outline{
    position: absolute;
    bottom: 44.44px;
    right: 44.12px;
}

.post .img-post-likes{
    width: 20px;

    position: absolute;
    bottom: 14px;
    left: 17px;
}

.post h5{
    position: absolute;
    bottom: 13px;
    left: 42px;
}

/****************** SIDEBAR **********************/
.side-bar{
width: 293px;
margin-left: 29px;
}

.side-bar h4{
    color: #262626;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.profile{
    display: flex;
    align-items: center;
}

.profile img{
    margin: 23px 0px;
}

.profile h4{
    margin-left: 17px;
}

.profile h5{
    color:  #8E8E8E;
    font-size: 14px;
    line-height: 16px;

    margin-left: 17px;
}

.suggestion-divider{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.suggestion-divider h4{
    color: #8E8E8E;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.suggestion-divider h5{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 17px;
}

.suggestion{
    display: flex;
    justify-content: space-between;

    margin-bottom: 16px;
}

.suggestion > div{
    display: flex;
}

.suggestion-info{
   margin-left: 10px;
}

.suggestion img{
    width: 32px;
}

.suggestion h5{
    color: #8E8E8E;
    font-size: 12px;
    line-height: 14px
}

.suggestion h6{
    color: #139EF2;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    display: flex;
    align-items: center;
}

.misc{
    color: #C7C7C7;
    margin-top: 33px;
}

.misc p{
    font-size: 11px;
    line-height: 13px;

    margin-top: 18px;
}

/****************** BOTTOM BAR **********************/
.bottom-bar{
    background-color: white;
    border: 1px solid #DBDBDB;
    height: 54px;
    width: 614px;
    position: fixed;
    bottom: 0px;

    display: none;
}


/****************** ICONS **********************/
.logo-instagram{
    width: 23px;
    height: 23px;
}

.paper-plane-outline{
    width: 23px;
    height: 23px;
}

.compass-outline{
    width: 23px;
    height: 23px;
}

.heart-outline{
    width: 23px;
    height: 23px;
}

.person-outline{
    width: 23px;
    height: 23px;
}

.chatbubble-outline{
    width: 23px;
    height: 23px;
}

.bookmark-outline{
    width: 23px;
    height: 23px;
}

.chevron-forward-circle{
    color: #FFFFFF;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, 0.7));
    width: 27px;
    height: 27px;
}

.bottom-bar .home{
    width: 23px;
    height: 23px;
    position: absolute;
    top: 12px;
    left: 27px;
}

.bottom-bar .search-outline{
    width: 23px;
    height: 23px;
    position: absolute;
    top: 12px;
    left: 158px;
}

.bottom-bar .add-circle-outline{
    width: 23px;
    height: 23px;
    position: absolute;
    top: 12px;
    left: 297px;
}

.bottom-bar .heart-outline{
    position: absolute;
    top: 12px;
    left: 435px;
}

.bottom-bar .person-outline{
    position: absolute;
    top: 12px;
    left: 563px;
}

/****************** RESPONSIVENESS  **********************/
@media (max-width: 935px){
    .side-bar{
        display: none;
    }
}

@media (max-width: 614px){
    .inside-header{
        width: 614px;
    }

    .inside-header .vertical-divider,
    .inside-header .search-bar,
    .inside-header .compass-outline,
    .inside-header .heart-outline,
    .inside-header .person-outline,
    .chevron-forward-circle{
        display: none;
    }

    .inside-header .identification{
        width: 350px;
        margin-left: 20px;
    }

    .interaction{
            position: relative;
        }

    .inside-header .paper-plane-outline{
        position: absolute;
        right: 30px;
    }

    .content{
        margin-top: 54px;
    }

    .feed{
        margin-top: 0px;
    }
    .stories{
        background-color: #FAFAFA;
    }

    .post{
        background-color: white;
    }

    .bottom-bar{
        display: inline;
    }
}